.hinh{
    background-image:url('qnu.JPG');
    width: 323px;
    height: 620px;
}
.TK{

}
#Form{
    background-color:white;
            text-align:center;
            height: 259px;
            width: 510px;
            margin-left:450px;
            margin-bottom:150px;
            margin-top:50px;
            
}